# Environment variables
**/.env
.venv
**/.tokens

# content to upload
social-publisher/content/

# Session files
session.json

# OAuth credentials
social-publisher/client_secrets.json
social-publisher/token.pickle

# Python Cache
**/__pycache__

**/.DS_Store

