# Environment variables
**/.env
.venv
**/.tokens

# content to upload
**/content/

# Session files
session.json

# OAuth credentials
social-publisher/client_secrets.json
social-publisher/token.pickle

# Python Cache
**/__pycache__

**/.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
**/.DS_Store

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
